<div class="row p-5">
	<div class="col text-lg-start text-center ">
		<%= image_tag "logo_capsens", alt: t('logo_alt'), width: 150 %>
		<%= content_tag :h2, t('.payment_section_title') %>
		<%= content_tag :p, t('.payment_section_description') %>
	</div>
	<div class="col text-lg-end text-md-center d-none d-md-block">
		<%= image_tag "payment.jpg", alt: t('.payment_image_alt'), width: 400 %>
	</div>
</div>