<%= render 'pages/home/form' %>

<div class="container d-flex justify-content-around px-5">
	<div class="text-lef">
		<%= image_tag "logo_capsens", alt: "alttext", class: "mx-3", width: 150 %>
		<h2>Le paiement en toute simplicité</h2>
		<p>Facilitez vos paiements grâce aux différentes solutions que nous vous proposons. Vos informations sont stockées et protégées en toutes circonstances.</p>
	</div>
	<%= image_tag "payment.jpg", alt: "payment illustration", width: 400 %>
</div>