<footer>
  <div class="bg-light text-dark py-4">
    <div class="container d-flex justify-content-between flex-column-reverse flex-sm-row flex-sm-wrap">
      <div>
        <h3 class="fw-bold text-uppercase">Découvrir</h3>
        <ul class="list-unstyled">
          <li><a class="text-decoration-none" href="#">Home</a></li>
          <li><a class="text-decoration-none" href="#">Qui sommes-nous ?</a></li>
          <li><a class="text-decoration-none" href="#">Découvrir nos offres</a></li>
          <li><a class="text-decoration-none" href="#">Formulaire de demande de crédit</a></li>
        </ul>
      </div>

      <div>
        <h3 class="fw-bold text-uppercase">A propos</h3>
        <ul class="list-unstyled">
          <li><a class="text-decoration-none" href="#">CGU</a></li>
          <li><a class="text-decoration-none" href="#">FAQ</a></li>
          <li><a class="text-decoration-none" href="#">Mentions Légales</a></li>
        </ul>
      </div>

      <div>
        <h3 class="fw-bold text-uppercase">Réseaux Sociaux</h3>
        <ul class="list-unstyled">
          <li><a class="text-decoration-none" href="#">Facebook</a></li>
          <li><a class="text-decoration-none" href="#">Twitter</a></li>
          <li><a class="text-decoration-none" href="#">Youtube</a></li>
        </ul>
      </div>

      <div class="d-lg-flex align-items-center">
        <%= image_tag "logo_capsens", alt: "alttext", class: "mx-3", width: 150 %>
        <div>
          <p>Brand</p>
          <p>25 rue de Paris <br> 75001 Paris</p>
        </div>
      </div>
    </div>
  </div>
</footer>