<footer>
  <div class="container fixed-bottom">
    <div>
      <h3>Découvrir</h3>
      <a href="#">Home</a>
      <a href="#">Qui sommes-nous ?</a>
      <a href="#">Découvrir nos offres</a>
      <a href="#">Formulaire de demande de crédit</a>
    </div>
  </div>
</footer>